.home-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f4f6;
  font-family: Helvetica;
}

.main-content {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}
.content {
  background-color: #fff;
  padding: 1%;
  margin: 1%;
  height: 8vh;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888;
}