.task-header {
  background-color: #f0f8ff;
  color: #5b8092;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.header-text {
  font-family: Helvetica;
  font-weight: bold;
}
