.task {
  font-family: 'Helvetica', sans-serif;
  display: flex;
  justify-content: center;
  border: 1px solid #808080;
  margin: 0 15px 12px 15px;
  border-radius: 11px;
}
.task-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tasks-buttons {
  display: flex;
  justify-content: space-around;
  height: 50px;
  padding: 4px
}

.go-back {
  background-color: #678999;
  border-radius: 8px;
  border: none;
  color: #eee;
  font-weight: bolder;
}

.go-back a {
  color: #eee;
  text-decoration: none;
}

.add-task {
  background-color: #97e493;
  border: none;
  color: #eee;
  border-radius: 8px;
  font-weight: bolder;
}
.task input {
  border-radius: 5px;
  border: 1px solid #808080;
  margin-bottom: 3px;
}

.date-temp {
  display: flex;
  margin: 8px 0 8px 7px;
  justify-content: center;
  flex-direction: column;
}

.date-div,
.done-div,
.name-div,
.notes-div {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.date-div input,
.notes-div input,
.name-div input {
  font-family: 'Helvetica', sans-serif;
  padding: 8px;
}

.done-div {
  display: flex;
  justify-content: center;
}

.task-buttons button {
  cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: block;
  cursor: pointer;
}
.form-div {
  display: flex;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
  height: 40vh;
  width: 100%;
  align-items: center;
}