.signin-page-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
}

.signin-page-main h1 {
  font-weight: 300;
  font-size: 35px;
}

.signin-page-main > p {
  font-size: 16px;
  font-weight: 300;
  padding: 0 15px;
}

.signin-page-main form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 10px 15px;
}

.signin-input,
.signup-input {
  margin: 15px 0 5px;
  background-color: rgb(241, 242, 243);
  border: 1px solid rgb(91, 128, 146);
  border-radius: 30px;
  padding: 10px 15px;
  font-size: 16px;
}

.signin-input:focus,
.signup-input:focus {
  outline: none;
  border-color: rgb(66, 181, 232);
  color: rgb(66, 181, 232);
}

.signin-btn,
.signup-btn {
  font-size: 18px;
  font-weight: 600;
  margin: 15px auto 0;
  padding: 8px 30px;
  border: none;
  background-color: rgb(66, 181, 232);
  color: #eee;
  border-radius: 30px;
  transition: all ease-out 0.3s;
}

.signin-btn:hover,
.signup-btn:hover {
  cursor: pointer;
  color: rgb(66, 181, 232);
  background-color: rgb(241, 242, 243);
}

.login-btn:focus,
.signup-btn:focus {
  outline: none;
}

.error {
  color: red;
}
